# Configuración para Sede Mendoza 🍇
DB_HOST=db
DB_NAME=scee_db
DB_USER=root
DB_PASSWORD=1234

REDIS_HOST=redis
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# El puerto del servidor sigue siendo el mismo
SERVER_PORT=8000


# Frecuencia de chequeo de tareas (en segundos)
TASK_CHECK_INTERVAL=60.0