# === Datos de Base de Datos (Muy Importante) ===
# Ignora toda la carpeta de datos binarios de MariaDB/MySQL
db_data/
**/db_data/*
*.aria
*.sys
ib_buffer_pool
ib_logfile*
ibdata*
multi-master.info
mysql_upgrade_info

# === Entorno Virtual ===
venv/
env/
.venv/

# === Python Cache ===
**/__pycache__/
*.py[cod]

# === Variables de Entorno ===
.env
.env.local

# === Notas Personales ===
src/notas*.md
todo.txt

# === IDEs ===
.vscode/
.idea/