# Entorno Virtual
venv/
ENV/
env/
.venv/

# Python Cache
**/__pycache__/
*.py[cod]
*$py.class

# Variables de Entorno (¡MUY IMPORTANTE!)
.env
.env.local

# Bases de datos locales
*.sqlite3

# Celery y Redis
# Archivo de persistencia del Beat y archivos de procesos
celerybeat-schedule
celerybeat-schedule.db
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir

# Archivos de configuración de IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs del sistema
*.log

# Notas personales
src/notas.md
src/notas2.md
src/notas3.md
src/notas4.md
docs/funcionalidad.md
docs/descripcion.md
docs/arquitectura.md
